.container {
    width: 90%;
    margin: 0 auto;
}
.product-list{
    border: 1px solid red;
    width:200px;
    height: 350px;
    margin:10px;
    float: left;
    text-align: center;
    padding:10px;
}
.product-list img{
    width: 100px;
    height: 150px;
}

